package pages

import (
	"github.com/haleyrc/sif/elements"
	"github.com/haleyrc/sif/templates/blog/components"
)

templ Index(siteData SiteData, name string, latest *components.PostArgs, mostRecent *components.PostListArgs) {
	@Layout(siteData, PageData{Name: name}) {
		if latest != nil {
			@components.Post(latest)
		}
		if mostRecent != nil && len(mostRecent.Posts) > 0 {
			@elements.HR("my-4")
			@elements.Section() {
				@elements.H2("text-lg font-extralight pb-2") {
					Recent posts
				}
				@components.PostList(mostRecent)
			}
		}
	}
}
