package pages

import "github.com/haleyrc/sif/templates/blog/components"

templ Page(siteData SiteData, args *components.PageArgs) {
	@Layout(siteData, PageData{Name: args.Slug}) {
		@components.Page(args)
	}
}
