package pages

import (
	"fmt"
	"github.com/haleyrc/sif/elements"
	"github.com/haleyrc/sif/templates/blog/components"
)

templ PostsForTag(siteData SiteData, tag string, posts *components.PostListArgs) {
	@Layout(siteData, PageData{Name: fmt.Sprintf("Posts tagged %s", tag)}) {
		@elements.H1("text-xl font-bold pb-2") {
			Posts tagged "{ tag }"
		}
		@components.PostList(posts)
	}
}
