package pages

import (
	"fmt"
	"github.com/haleyrc/sif/elements"
	"github.com/haleyrc/sif/templates/blog/components"
)

templ PostsForYear(siteData SiteData, year string, posts *components.PostListArgs) {
	@Layout(siteData, PageData{Name: fmt.Sprintf("Posts from %s", year)}) {
		@elements.H1("text-xl font-bold pb-2") {
			Posts from { year }
		}
		@components.PostList(posts)
	}
}
