package pages

templ Tags() {
}

// import "github.com/haleyrc/sif/templates/blog/components"
//
// templ Tags(title, description, author string, copyrightStartYear int, posts []PostBucket) {
// 	@Layout(title, "Tags", description, author, copyrightStartYear) {
// 		@components.PostIndex("/tags/", posts)
// 	}
// }
