package sif

type Button struct {
	Disabled bool
	ID       string
	Name     string
	Text     string
	Type     string
	Value    string
}

templ (b Button) Render() {
	<button
		disabled?={ b.Disabled }
		id={ b.ID }
		name={ b.Name }
		type={ b.Type }
		value={ b.Value }
	>
		{ b.Text }
	</button>
}
