package sif

templ Button(id, name, typ, value string, disabled bool) {
	<button
		disabled?={ disabled }
		id={ id }
		name={ name }
		type={ typ }
		value={ value }
	>
		{ children... }
	</button>
}
