package pages

import (
	"github.com/haleyrc/sif"
	"github.com/haleyrc/sif/blog"
	"github.com/haleyrc/sif/blog/internal/components"
)

templ About(b blog.Blog) {
	@components.Layout("About", b.Name, b.Author, b.Since, b.Metadata.Manifest, b.Menu.Links) {
		@sif.Markdown(b.About.Content)
	}
}
