package pages

import (
	"fmt"

	"github.com/haleyrc/sif/blog"
	"github.com/haleyrc/sif/blog/internal/components"
)

templ Archive(b blog.Blog) {
	@components.Layout("Archive", b.Name, b.Author, b.Since, b.Metadata.Manifest, b.Menu.Links) {
		<ul>
			for _, year := range keys(b.Posts.ByYear, true) {
				<li>
					<a class="hover:underline" href={ templ.URL("/archive/" + year) }>
						{ year } ({ fmt.Sprintf("%d", len(b.Posts.ByYear[year])) })
					</a>
				</li>
			}
		</ul>
	}
}
