package pages

import (
	"github.com/haleyrc/sif/blog"
	"github.com/haleyrc/sif/blog/internal/components"
)

templ Post(b blog.Blog, p blog.Post) {
	@components.Layout(p.Title, b.Name, b.Author, b.Since, b.Metadata.Manifest, b.Menu.Links) {
		@components.Post(p)
	}
}
