package pages

import (
	"github.com/haleyrc/sif/blog"
	"github.com/haleyrc/sif/blog/internal/components"
)

templ PostsForTag(b blog.Blog, tag string, posts []blog.Post) {
	@components.Layout("Posts tagged "+tag, b.Name, b.Author, b.Since, b.Metadata.Manifest, b.Menu.Links) {
		<h1 class="text-xl font-bold pb-2">Posts tagged "{ tag }"</h1>
		@components.PostList(posts)
	}
}
