package components

import (
	"fmt"
	"github.com/haleyrc/sif/elements"
)

type PostIndexArgs struct {
	Prefix string
	Posts  []PostIndexPostArgs
}

type PostIndexPostArgs struct {
	Key   string
	Count int
}

templ PostIndex(args *PostIndexArgs) {
	@elements.UL() {
		for _, bucket := range args.Posts {
			@elements.LI() {
				@elements.A("", "hover:underline", fmt.Sprintf(args.Prefix+bucket.Key)) {
					{ bucket.Key } ({ fmt.Sprintf("%d", bucket.Count) })
				}
			}
		}
	}
}
