package main

import "github.com/haleyrc/sif"

templ buttons() {
	@section("Buttons") {
		@sif.Button("btn", "btn", "button", "btn", false) {
			"Button"
		}
		@sif.Button("disabledbtn", "disabledbtn", "button", "disabledbtn", true) {
			"Disabled Button"
		}
	}
}
