package main

import "github.com/haleyrc/sif"

templ gallery() {
	@sif.Document() {
		@sif.Head("Gallery", "Gallery")
		@sif.Body() {
			<h1>Gallery</h1>
			@buttons()
		}
	}
}

css contentStyles() {
	display: flex;
	gap: 10px;
}

templ section(title string) {
	<div>
		<h2>{ title }</h2>
		<div class={ contentStyles() }>
			{ children... }
		</div>
	</div>
}
